COREXA_RUNTIME_HOST=127.0.0.1
COREXA_RUNTIME_PORT=7777
COREXA_RUNTIME_PROTOCOL=http
COREXA_DEFAULT_MODEL=corexa-code-fast
COREXA_INFERENCE_URL=http://127.0.0.1:11434
COREXA_VECTOR_BACKEND=qdrant
COREXA_QDRANT_URL=http://127.0.0.1:6333
COREXA_TELEMETRY_ENABLED=false
